.workoutItem {
  width: 100%;
  padding: 20px;
  margin: 16px 0;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.workoutItem .pastRecordsButton {
  font-size: 0.7rem;
  color: #757575;
  border-color: #757575;
  padding: 4px 8px;
  border-radius: 20px;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.inputLabel {
  margin-bottom: 4px;
}

.input {
  margin: 8px;
  width: 100%;
  max-width: 100px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.setButton {
  flex-grow: 1;
  margin: 0 8px;
  border-radius: 20px;
  font-weight: bold;
}

.setRow {
  align-items: center;
  margin-bottom: 8px;
}

.checkboxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox {
  margin-left: 0;
}

.labelContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.workoutHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
  border-bottom: 0.5px solid #e0e0e0;
  flex-wrap: wrap;
}

.workoutTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.deleteButton {
  margin: 0;
  padding: 8px;
  padding-top: 0;
  padding-right: 0;
  min-width: 36px;
}

.setContent {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.volumeDisplay {
  color: #757575;
  margin-top: 8px;
  margin-bottom: 8px;
}

.setHeader {
  margin-bottom: 8px;
  font-weight: bold;
}

.memoContainer {
  margin-top: 16px;
  position: relative;
}

.memoLabel {
  position: absolute;
  top: -8px;
  right: 0;
  background-color: white;
  padding: 0 4px;
  color: #999;
}

@media (max-width: 430px) {
  .input {
    max-width: 80px;
  }
}
