.workoutItem {
  width: 100%;
  padding: 16px;
  margin: 8px 0;
  box-sizing: border-box;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputLabel {
  margin-bottom: 4px;
}

.input {
  margin: 8px;
  width: 80px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.setButton {
  flex-grow: 1;
  margin: 0 8px;
}

.setRow {
  align-items: center;
}

.checkboxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox {
  margin-left: 0;
}

.labelContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.workoutHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.deleteButton {
  margin: 0;
  padding: 8px;
  padding-top: 0;
  min-width: 36px;
}

@media (max-width: 600px) {
  .input {
    width: 60px;
  }
}
