/* Profile.module.css の追記 */
.followButton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.followButton button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.followButton button:hover {
  background-color: #0056b3;
}

.profileSidebar {
  width: 240px; /* サイドバーの幅を指定する */
  flex-shrink: 0; /* サイドバーの幅が縮まないようにする */
}

.Profile {
  display: flex;
}

.profileContent {
  flex-grow: 1; /* サイドバーの横にメインコンテンツを表示するために追加 */
  /* 他のスタイル */
}
