.historyContainer {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

@media (max-width: 430px) {
  .historyContainer {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
  }
}
