/* WorkoutHistory.module.css */

.historyContainer {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 20px;
  box-sizing: border-box;
}

@media (max-width: 500px) {
  .historyContainer {
    width: 90%;
    padding: 20px;
  }
}
