.historyContainer {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: white;
  padding: 24px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.chart {
  width: 100%;
  height: 100%;
  margin-bottom: 40px;
}

.chartContainer {
  position: relative;
  width: 100%;
  height: 500px;
  margin-bottom: 50px;
}

.chartHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.chartTitle {
  font-weight: bold;
  color: #333;
  text-align: center;
  padding: 8px 16px;
  background-color: #f5f5f5;
  border-radius: 20px;
}

.tabsWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.tabsContainer {
  display: flex;
  overflow-x: auto;
  scrollbar-width: thin;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.tab {
  flex-grow: 1;
  flex-shrink: 0;
  min-width: 90px;
  max-width: 180px;
  opacity: 0.7;
  white-space: nowrap;
}

.activeTab {
  background-color: #ccc;
}

.chartWrapper {
  position: relative;
  width: 100%;
  height: auto;
}

.gridContainer {
  height: 800px;
}

@media (max-width: 430px) {
  .historyContainer {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
  }

  .container {
    padding: 16px;
  }

  .chartContainer {
    height: 300px;
  }

  .tab {
    padding: 12px 16px;
    flex-shrink: 0;
    flex-basis: auto;
    white-space: nowrap;
  }
  .gridContainer {
    height: 550px;
  }
}
