.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-bottom: 0;
  height: calc(100vh - 80px);
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  overflow-y: auto;
  padding-bottom: 100px;
  margin: 0 auto;
}

.workoutList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topControls {
  position: sticky;
  top: 0;
  z-index: 10;
  background: white;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
  margin-bottom: 20px;
}

.bottomControls {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 10px 10px 0 0;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
}

.bottomButton {
  width: 200px;
  border-radius: 20px;
  font-weight: bold;
}

.totalVolume {
  flex: 1;
  background-color: #ffffff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  border: 2px solid #3f51b5;
  color: #3f51b5;
  font-weight: bold;
}

.timerTextContainer {
  margin: 0;
}

.pausedTimer {
  color: #888;
}

.volumeAndTimerContainer {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  gap: 20px;
}

.AddTrainingButton {
  margin: 10px 0;
}

.progressContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}
.progressBar {
  flex-grow: 1;
  margin-right: 8px;
  height: 10px;
  border-radius: 5px;
}

.progressText {
  white-space: nowrap;
  margin-left: 8px;
}

@media (max-width: 430px) {
  .container {
    height: calc(100vh - 100px);
  }

  .content {
    padding-bottom: 160px;
  }

  .volumeAndTimerContainer {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .totalVolume {
    width: 100%;
    min-height: 80px;
  }

  .bottomControls {
    border-radius: 0;
    padding: 10px;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
    max-width: none;
    left: 0;
    right: 0;
    width: 100vw;
    margin-left: -20px;
  }
}
