/* WorkoutPopup.module.css */
.popupContainer {
  background-color: white;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px; /* 固定幅 */
  height: 400px; /* 固定高さ */
  overflow-y: auto; /* 内容がはみ出たら縦方向にスクロール可能 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); /* オプショナル: 影を追加してポップアップを際立たせる */
}

@media (max-width: 500px) {
  .popupContainer {
    width: 90%; /* 小さなデバイスで幅を調整 */
    height: 90%; /* 小さなデバイスで高さを調整 */
  }
}
