.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: calc(100vh - 80px);
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  overflow-y: auto;
  padding-bottom: 100px;
  margin: 0 auto;
}

.workoutList {
  /* margin-top: 20px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topControls {
  position: sticky;
  top: 0;
  z-index: 10;
  background: white;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-bottom: 0px;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
}

.bottomControls {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.bottomButton {
  width: 200px;
  border-radius: 20px;
  font-weight: bold;
}

.fixedWidthButtonContainer {
  display: flex;
  justify-content: center;
  gap: 16px;
  /* margin-bottom: 20px; */
}

.fixedWidthButton {
  width: 200px;
  border-radius: 20px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.totalVolume,
.timer {
  flex: 1;
  background-color: #e0e0e0;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 100px;
}

.totalVolume {
  background-color: #e0e0e0;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-height: 100px;
}

.volumeAndTimerContainer {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  gap: 20px;
}

@media (max-width: 480px) {
  .volumeAndTimerContainer {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .totalVolume,
  .timer {
    width: 100%;
    min-height: 80px;
  }
}
